---
import MyFooter from "../components/MyFooter.astro";
import "../styles/global.css";
import MyHeader from "../components/MyHeader.astro";

const pageTitle = "Home";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <MyHeader />

    <h1>Mi sitio web con Astro</h1>
    <MyFooter />
  </body>
</html>
